<div class="container card">
  <h2>@Model.Name</h2>
  <ul>
    <li>Weight: @Model.Weight</li>
    <li>Price: @Model.Price</li>
    <li>Purchased: @Model.Purchased</li>
    <li>Packed: @Model.Packed</li>
  </ul>

  <a href="/kits">Return To Your Pack</a>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
</div>